{% extends 'layout.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <form method="post" class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
            <h1 class="text-gray-700 font-bold mb-2" style="font-size:30px;">Connexion</h1>
            {% csrf_token %}
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-bold mb-2">Nom d'utilisateur</label>
                <input type="text" id="username" name="username" class="border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none w-full px-3 bg-gray-200" autofocus required/>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 font-bold mb-2">Mot de passe</label>
                <div class="relative">
                    <input type="password" id="password" name="password" class="border-gray-300 rounded-md shadow-sm focus:border-indigo-500 focus:ring-1 focus:ring-indigo-500 focus:outline-none pr-10 w-full px-3 bg-gray-200" required/>
                    <button type="button" class="absolute inset-y-0 right-0 px-4 py-2 focus:outline-none" onclick="togglePasswordVisibility()">
                        <svg id="eye-icon-open" class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.648 7.341a8 8 0 10-11.31 11.317m11.31-11.317a8 8 0 000 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9a2 2 0 100 4 2 2 0 000-4z"/>
                        </svg>
                        <svg id="eye-icon-closed" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.648 7.341a8 8 0 10-11.31 11.317m11.31-11.317a8 8 0 000 0z"/>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.871 8.536A4 4 0 0012 7.5a4 4 0 00-3.871.986M6 12a6 6 0 0012 0 6 6 0 00-12 0z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="mb-4">
                <button type="submit" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Connexion</button>
            </div>
        </form>
    </div>
{% endblock content %}